@font-face {
    font-family: aAbsoluteEmpire;
    src: url(aAbsoluteEmpire.ttf);
}

.nav-container-offset {
    left: 0px;
    right: 0px;
    top: 0px;
    height: 40px;
}

.nav-container-background {
    border-radius: 0px;
    
    width: 100%;
    height: 40px;
}

.nav-container {
    width: 100%;
    height: 40px;
}

.nav-button {
    width: 100%;
    height: 40px;
}

.nav-list {
    margin-top: -4px;
    margin-left: 4em;
}

.nav-list-item  {
    float: left;
}

.content-item.content-item-highlight {
    background: none;
    transition: background 0.33s;
}

.content-item {
    color: white;
}

.content-item.content-item-highlight:hover {
    background:  linear-gradient(to right,#8A67DD,#5936AC);
}
/*
.content-item.content-item-highlight p {
    background: #100E12;
}
.content-item p {
    background: #100E12;
}
*/

